html{
    font-size: 24px; /*establece el tamaño de html a 24 pixeles*/
}
h1{
    font-size: 16px; /*establece el tamaño de h1 a 16 pixeles*/
}
h2{
    font-size: 1rem; /*establece el tamaño de h2 a 1 rem*/
}
h3{
    font-size: 1.75rem; /* establece el tamaño de h3 a 1.75rem*/
}
h4{
    font-size: 1.5rem; /*establece el tamaño de h4 a 1.5 rem*/
}
h5{
    font-size: 1.25rem; /*establece el tamaño de h5 a 1.25rem*/
}
h6{
    font-size: 1.05rem; /*establece el tamaño de h6  1.05rem*/
}
.contenedor{
    width: 70%;
    height: 400px;
    background-color: aqua;
    margin: 30px auto;
}
.hijo{
    width: 70vw;
    height: 50vh;
    background-color: blue;
    margin: 30px auto;
    
}